/* Item.css */
.item {
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.6s;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

.item-price {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-price-new {
    color: #374151;
    font-size: 14px;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 14px;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
}

/* Tablet view */
@media (max-width: 768px) {
    .item {
        width: 200px;
    }

    .item-price-new, .item-price-old {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .item {
        width: 100%;
        padding: 10px;
    }

    .item-price-new, .item-price-old {
        font-size: 14px;
    }
}
