/* Item.css */
.item {
    width: 250px;  /* Fixed width for each item */
    padding: 5px;  /* Reduced padding */
    border-radius: 5px;
    text-align: center;
    transition: transform 0.6s;  /* Smooth scaling effect */
    overflow: hidden;  /* Hide overflow to prevent scrolling */
}

.item img {
    width: 100%;  /* Ensure the image takes full width of the container */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 5px;
    margin-bottom: 5px;  /* Gap between image and text */
}

.item-price {
    display: flex;
    flex-direction: column;  /* Stack prices vertically */
    gap: 5px;  /* Space between new and old price */
}

.item-price-new {
    color: #374151;
    font-size: 14px;  /* Smaller font size for new price */
    /* Removed font-weight to avoid bold text */
}

.item-price-old {
    color: #8c8c8c;
    font-size: 14px;  /* Smaller font size for old price */
    text-decoration: line-through;
    /* Removed font-weight to avoid bold text */
}

.item:hover {
    transform: scale(1.05);  /* Slightly enlarge the item on hover */
}
