.profile-container {
  margin-top: 30px;
  margin-left: 135px;
  height: 200px;
}

.profile-container h2 {
  font-size: 20px;
  color: gray;
  font-weight: bold;
}

.profile-container hr {
  margin-left: 530px;  
  margin-bottom: 10px;
  width: 150px;
}

.profile-details p {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
  color: grey;
}

@media (max-width: 768px) {
  .profile-container {
      margin-left: 30px;
      height: auto;
  }

  .profile-container h2 {
      font-size: 18px;
  }

  .profile-container hr {
      margin-left: auto;
      margin-right: auto;
      width: 100px;
  }

  .profile-details p {
      font-size: 16px;
      margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .profile-container {
      margin-left: 10px;
  }

  .profile-container h2 {
      font-size: 16px;
  }

  .profile-container hr {
      width: 80px;
  }

  .profile-details p {
      font-size: 14px;
      margin-left: 5px;
  }
}
